.card-list {
  min-height: 59vh;
  padding: 80px 70px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.cerd-list_container {
  margin: 0;
  padding: 0;
  padding-bottom: 78px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.caerd-list__next-button {
  background: initial;
  width: 320px;
  height: 36px;
  padding: 0;
  margin: 0;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid #424242
}

@media screen and (max-width: 768px) {
  .card-list {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 100px;
  }

  .cerd-list_container {
    padding-bottom: 75px;
    gap: 30px;
  }
}

@media screen and (max-width: 549px) {
  .main {
    width: 100%;
  }
}