.card-list {
  padding: 80px 70px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.cerd-list_container {
  margin: 0;
  padding: 0;
  width: 100%;
  padding-bottom: 80px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 364px);
  column-gap: 24px;
  row-gap: 30px;
  justify-content: center;
}

.caerd-list__next-button {
  background: initial;
  width: 320px;
  height: 36px;
  padding: 0;
  margin: 0;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid #424242
}

@media screen and (max-width: 768px) {
  .card-list {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 98px;
  }

  .cerd-list_container {
    grid-template-columns: repeat(auto-fill, 339px);
    column-gap: 30px;
    row-gap: 36px;
    padding-bottom: 75px;
    gap: 30px;
  }
}

@media screen and (max-width: 549px) {
  .card-list {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .cerd-list_container {
    grid-template-columns: repeat(auto-fill, 300px);
    padding-bottom: 75px;
    gap: 10px;
  }
}