.movies{
  max-width: 1280px;
  margin: 0 auto;
  min-height: calc(100vh - 172px - 76px);
}

@media screen and (max-width: 549px) {
  .movies{
    width: 100%;
    min-height: calc(100vh - 253px - 76px);
  }
}