.navbar {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 30px;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.navbar__link {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.navbar__link_active {
  border-bottom: 2px solid #FFFFFF;
}

.navbar__button {
  background: #3DDC84;
  width: 76px;
  height: 32px;
  padding: 0;
  color: #000000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.navbar__link__size_14 {
  font-size: 14px;
  line-height: 18px;
}

.navbar-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar__gap_48 {
  gap: 48px;
  line-height: 19px;
}

.navbar__account-button {
  display: flex;
  align-items: center;
  min-width: 100px;
  justify-content: space-between;
}

.navbar__account-button__icon {
  padding: 8px 7.5px;
  width: 11.5px;
  height: 14px;
  border-radius: 4px;
  background: #313131;
}

.sidebar__burger-button {
  position: absolute;
  padding: 0;
  margin: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  visibility: hidden;
  width: 0px;
  height: 44px;
  background-image: url(../../images/Burger-Button.svg);
}

.sidebar {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  display: flex;
  justify-content: end;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease 0s;
}

.sidebar_opened {
  visibility: visible;
  opacity: 1;
}

.sidebar__container {
  background-color: #202020;
  width: 520px;
  position: relative;
  box-sizing: border-box;
  padding-top: 161px;
  padding-bottom: 89px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between
}

.sidebar__close-button {
  padding: 0;
  margin: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  width: 30px;
  height: 30px;
  background-image: url(../../images/Close-Button.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 23px;
  top: 23px;
}

.navbar-links_sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 31px;
}

.navbar__link__size_18 {
  font-size: 18px;
  padding-bottom: 4px;
}

@media screen and (max-width: 768px) {
  .sidebar__burger-button {
    position: relative;
    padding: 0;
    margin: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    visibility: visible;
    width: 44px;
    height: 44px;
    background-image: url(../../images/Burger-Button.svg);
  }

  .navbar_hidden {
    visibility: hidden;
    font-size: 0;
    width: 0;
  }

}

@media screen and (max-width: 549px) {
  .navbar {
    gap: 14px;
  }

  .navbar__link {
    font-size: 10px;
  }

  .navbar__button {
    width: 54px;
    height: 26px;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }

  .sidebar__burger-button {
    width: 30px;
    height: 43px;
  }

  .navbar_sidebar {
    padding-right: 9px;
    gap: 0;
  }
}