.navbar {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 30px;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.navbar__link {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;

}

.navbar__button {
  border: none;
  border-radius: 3px;
  background: #3DDC84;
  width: 76px;
  height: 32px;
  padding: 0;
  color: #000000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
}

.navbar__button:hover {
  opacity: 0.80;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .navbar {
    gap: 14px;
  }
  .navbar__link {
    font-size: 10px;
  }

  .navbar__button {
    width: 54px;
    height: 26px;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
}