.aboutme {
  padding: 115px 70px 0;
}

.aboutme__title {
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  border-bottom: 1px solid #DADADA;
}

.aboutme__biography {
  margin: 0;
  padding: 0;
  padding-top: 66px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "name avatar"
    "info avatar"
    "bio avatar"
    "github avatar";
  justify-content: space-between;
  column-gap: 50px;
}

.aboutme__biography__name {
  grid-area: name;
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.aboutme__biography__info {
  grid-area: info;
  margin: 0;
  padding: 0;
  padding-top: 18px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.aboutme__biography__bio {
  grid-area: bio;
  margin: 0;
  padding: 0;
  padding-top: 26px;
  padding-bottom: 100px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  max-width: 600px;
}

.aboutme__biography__link {
  grid-area: github;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.aboutme__biography__avatar {
  grid-area: avatar;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .aboutme {
    padding-top: 93px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .aboutme__biography__name {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
  }

  .aboutme__biography__info {
    padding-top: 16px;
    font-size: 12px;
    line-height: 18px;
  }

  .aboutme__biography__bio {
    padding-top: 20px;
    padding-bottom: 87px;
    font-size: 12px;
    line-height: 18px;
    max-width: 364px;
  }

  .aboutme__biography_link {
    font-size: 14px;
    font-weight: 500;
  }

  .aboutme__biography__avatar {
    width: 255px;
    height: 307px;
  }

}


@media screen and (max-width: 549px) {
  .aboutme {
    padding-top: 71px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .aboutme__title {
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.72px;
    padding-bottom: 28px;
  }

  .aboutme__biography {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
  }

  .aboutme__biography__name {
    padding-top: 40px;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
  }

  .aboutme__biography__info {
    padding-top: 19px;
    font-size: 11px;
    line-height: 16px;
  }

  .aboutme__biography__bio {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 11px;
    line-height: 16px;
  }

  .aboutme__biography__avatar {
    margin-left: auto;
    margin-right: auto;
    width: 292px;
    height: 352px;
  }
}